<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
        <div class="loginbox">
          <div class="duebox">
            <div id="due">
              <div class="billhead">Bill</div>
              <div class="amounthead">$</div>
              <div class="paidhead">paid?</div>
            </div>
            <div id="dueinfo"></div>
          </div>
            <div class="months">
            <% for (var i in months){ %>
              <div class="month"><%= months[i].month %></div>
            <% } %>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/js.js"></script>
  </body>
</html>
