<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
        <div class="loginbox">
          <p>
            <%= name %>
          </p>
        </div>
    </main>
    <script type="text/javascript" src="/javascripts/js.js"></script>
  </body>
</html>
