<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
        <div class="loginbox">
          <div id="logintext">login as</div>
          <div class="nameform">
            <form action="/" method="post">
              <input type="text" name="name" value="" placeholder="name">
              <input type="submit" value="-->">
            </form>
          </div>
            <div class="message"><%= message %></div>
        </div>
    </main>
    <script type="text/javascript" src="/javascripts/js.js"></script>
  </body>
</html>
