@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  font-family: "Montserrat";
}

a {
  color: #00B7FF;
}

main{
  background-color: black;
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
}

.loginbox {
  margin: auto;
  width: 30%;
  height: 85%;
  background-color: white;
  border-radius: 4px;
}

#logintext{
  margin: auto;
  padding-top: 8vh;
  width: 85%;
  height: 25%;
  text-align: center;
  font-size: 4em;
}

input{
  text-align: center;
  font-size: 2.5em;
  display: block;
  margin: auto;
  width: 80%;
  height: 8vh;
}

input[type=submit]{
  cursor: pointer;
  margin-top: 4vh;
  background-color: #ECECEC;
  border: none;
}

.nameform{
  width: 85%;
  height: 30%;
  margin: auto;
}

.message{
  width: 85%;
  height: 10%;
  margin: auto;
  color: red;
  text-align: center;
  font-size: 1.2em;
}
.months{
  margin-top: 10vh;
  width: 30%;
  height: 60%;
  display: inline-block;
  float: right;
}
.month{
  width: 100%;
  height: 6%;
  background-color: grey;
  display: block;
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 4px;
  font-size: 0.8em;
  cursor: pointer;
  line-height: 2;
}

.duebox{
  margin-top: 2vh;
  width: 66%;
  padding: 2%;
  height: 80%;
  display: inline-block;
  float: left;
  background-color: #F6F6F6;
}
#due{
  width: 100%;
  height: 8%;
}
#dueinfo{
  width: 100%;
  height: 80%;
}
.bill{
  width: 40%;
  height: 8%;
  display: inline-block;
}

.amount{
  width: 35%;
  height: 8%;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.billhead{
  width: 40%;
  height: 60%;
  display: inline-block;
  color: blue;
  text-align: center;
  background-color: white;
  border-right: 1px solid transparent;
}

.amounthead{
  background-color: white;
  width: 35%;
  height: 60%;
  display: inline-block;
  text-align: right;
  color: blue;
  text-align: center;
  border-right: 1px solid transparent;
}

.paidhead{
  background-color: white;
  display: inline-block;
  width: 21%;
  height: 60%;
  text-align: center;
  color: blue;
}

.false{
  width: 40%;
  height: 100%;
  background-color: red;
  float: left;
  cursor: pointer;
  color: red;
}

.true{
  width: 40%;
  height: 100%;
  background-color: green;
  float: right;
  cursor: pointer;
  color: green;
}

.switchbox{
  display: inline-block;
  float: right;
  width: 14%;
  height: 4%;
  background-color: grey;
}
